h1 {
    background-color: gray;
}

.centro {
    background-color: rgb(170, 168, 168);
    width: 46%;
    margin-left: 25%;
    padding-left: 2%;
    padding-top: 10px;
}

.compre {
    background-color: rgb(101, 156, 238);
    color: blue;
    padding-left: 20%;
    font-size: 70px;
}

#familia-pelho {
    float: right;
    margin: 0 0 10px 10px;
}